body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: #002222;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: #002222;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #5eecd7;
}

.sidebar ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #336666;
}

/* Content area styling */
.content {
    flex: 1;
    padding: 30px;
    background-color: #004242;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #5eecd7;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin-bottom: 40px;
}

label {
    font-size: 16px;
    color: #5eecd7;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #006464;
    background-color:  #006464;
    color: #5eecd7;
}

button {
    background-color: #008080;
    color: #5eecd7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008080;
}

/* Course list styles */
.quarter-section {
    margin-bottom: 40px;
}

.quarter-section h3 {
    background-color:  #002222;
    padding: 12px;
    border-radius: 8px;
    font-size: 20px;
    color: #5eecd7;
}

.course-list {
    padding: 0;
    list-style-type: none;
    color: #5eecd7;
}

.course-item {
    display: flex;
    justify-content: space-between;
    background-color: #008080;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.course-item:hover {
    background-color: #00a3a3;
}

.delete-btn {
    color: red;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #d32f2f;
}

/* GPA display styling */
.sidebar div {
    margin-top: 20px;
}

.sidebar h3 {
    font-size: 18px;
    color: #fff;
}

.sidebar span {
    font-size: 20px;
    font-weight: bold;
    color: #5eecd7;
}